.full_screen_banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  header {
    font-family: "Stones";
    color: white;
    font-size: 50px;
    padding: 40px 0;
  }
}
