#services {
  text-align: center;
  .service {
    text-align: left;
    h2,
    h3 {
      color: _palette(black);
    }
    .service_image {
      max-width: 100%;
    }
    a {
      color: white;
    }
  }

  @include breakpoint(xsmall) {
    .services__container {
      padding: 0 25px;
    }
    .service {
      width: 50%;
      text-align: center;
      h3 {
        font-size: 1.3rem;
      }
    }
  }
}
